In [1]:
import pandas as pd

data = {'cols1' : ['1', '2', '3', 'teks'],
       'cols2' : ['1', '2', '3', '4']}
df = pd.DataFrame(data)
df

  cols1 cols2
0     1     1
1     2     2
2     3     3
3  teks     4

In [2]:
df.dtypes

cols1    object
cols2    object
dtype: object

In [3]:
df_x = df.astype({'cols2':'int'})
df_x

  cols1  cols2
0     1      1
1     2      2
2     3      3
3  teks      4

In [4]:
df_x.dtypes

cols1    object
cols2     int32
dtype: object

In [5]:
df.apply(pd.to_numeric, errors='coerce')

   cols1  cols2
0    1.0      1
1    2.0      2
2    3.0      3
3    NaN      4